
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Kelebek Sistemi</h2>
            <p>
                Okulumuzda yapılan sınavlarda uygulanan kelebek sisteminde öğrencilerimiz 
                bundan sonra sitemizden de yerlerini öğrenebileceklerdir. Sınava 45 dakika kalan sistem devreye girecek
                ve buradan öğrencilerimiz aktif sınavda hangi salonda kaçıncı numara oturacaklarını öğrenebileceklerdir.
                Bunun için sisteme kaydolup giriş yapmanız gerekmektedir.
            </p>
            
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h2  class="text-center">Sisteme Kayıt Olma</h2>
            <p>Yukarıda bulunan Kaydol bağlantısına tıkladıktan sonra karşınıza gelen sayfadaki bilgileri doğru olarak
                doldurduktan sonra Giriş bağlantısına tıklayarak sisteme giriş yapabilirsiniz. Aktif sınav olduğunda ise
            Sınav Bilgileri alanından sınav salonunuzu ve yerinizi öğrenebilirsiniz.
            </p>
            
        </div>
        
        <hr />
        <footer>
            <p>&copy; 2023 - TOKİ Kelebek Sistemi</p>
        </footer>
    </div>
